<%- include('../../shared/partials/head', { title: 'Login Page' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('../../shared/partials/header') %>
            <main>
                <h1>Login page</h1>
                <% if(sessionData.message) { %>
                    <section class="alert">
                        <h2>Invalid Email or Password</h2>
                        <p>
                            <%= sessionData.message %>
                        </p>
                    </section>
                    <% } %>
                        <form action="/login" method="POST">
                            <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                            <p>
                                <label for="email">Email</label>
                                <input type="email" placeholder="enter email here" name="email" id="email"
                                    value="<%= sessionData.email %>" required>
                            </p>
                            <p>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" minlength="6" required>
                            </p>
                            <button class="btn" type="submit">Login</button>
                            <p id="switch-form"><a href="/signup">No Account?, Create One Here</a></p>
                        </form>
            </main>
            <%- include('../../shared/partials/footer') %>
    </body>

    </html>